{
	"useTabs": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"printWidth": 100,
	"endOfLine": "auto",
	"overrides": [
		{ "files": "*.jsonc", "options": { "trailingComma": "none" } },
		{ "files": "*.md", "options": { "useTabs": false, "tabWidth": 2 } }
	]
}
